<!-- src/app/components/register/register.component.html -->
<section class="register-section">
  <div class="container split-layout">

    <div class="requirements-col">
      <h2 class="section-title"><span>{{ lang.t.req_title }}</span></h2>
      <span class="subtitle">{{ lang.t.req_title_2 }}</span>
      <h3>{{ lang.t.req_subtitle }}</h3>
      <h4>{{ lang.t.req_subtitle_2 }}</h4>
      <br><br>
      <ul class="req-list">
        <li>{{ lang.t.req_1 }}</li>
        <li>{{ lang.t.req_2 }}</li>
        <li>{{ lang.t.req_3 }}</li>
        <li>{{ lang.t.req_4 }}</li>
        <li>{{ lang.t.req_5 }}</li>
        <li>{{ lang.t.req_6 }}</li>
      </ul>
    </div>


    <div class="form-col">
      <div class="glass-form">
            <iframe
              src="https://script.google.com/macros/s/AKfycbzWmPYkSH1BoI1FHhiAmExruM5FuhedL_llSmBZ4xU5Sk3WGaemREj7CdBpphGlVeV2/exec"
              width="100%"
              height="900"
              frameborder="0"
              loading="lazy"
              allowfullscreen>
            </iframe>
        </div>
    </div>

  </div>
</section>