
<section class="locations-section">
  <div class="container">
    <div class="header">
      <span>{{ langService.currentLang() === 'es' ? 'Ubicaciones' : 'Locations' }}</span>
      <h2>{{ langService.currentLang() === 'es' ? 'Sedes del evento' : 'Event Venues' }}</h2>
    </div>

    <div class="locations-grid">
      <div class="location-card">
        <h3>🏨 One Hotel Puebla Angelópolis</h3>
        <iframe src="https://maps.google.com/maps?q=one%20puebla%20angelopolis&t=&z=15&ie=UTF8&iwloc=&output=embed"></iframe>
      </div>

      <div class="location-card">
        <h3>🏢 Edificio DitCo</h3>
        <iframe src="https://maps.google.com/maps?q=Edificio%20Sur%201%20BUAP%20Puebla&t=&z=18&output=embed"></iframe>
      </div>

      <div class="location-card">
        <h3>🎤 Aula Virtual</h3>
        <iframe src="https://maps.google.com/maps?q=aula%20virtual%20puebla&t=&z=15&ie=UTF8&iwloc=&output=embed"></iframe>
      </div>
    </div>
  </div>
</section>
