<section class="register-section" id="courses">
  <div class="container split-layout">

    <!-- LEFT COLUMN -->
    <div class="requirements-col">
      <h2>{{ lang.t.course_title_1 }}</h2>
        <p>
          {{ lang.t.course_desc_1 }} 
          <a href="https://open-quantum-institute.cern" target="_blank">Open Quantum Institute</a>  
          {{ lang.t.course_desc_1_2 }}
          <br><br>
          {{ lang.t.course_desc_2 }}
          <br><br>
          <strong>
            {{ lang.t.course_desc_3 }}
            (<a href="https://qworld.net/workshop-bronze/" target="_blank">QBronze</a>,
            <a href="https://qworld.net/qnickel/" target="_blank">QNickel</a>.)
            {{ lang.t.course_desc_3_2 }}
          </strong>
        </p>
      
      <br><br>
      <h2>{{lang.t.course_title_2}}</h2>


        <h3>{{ lang.t.course_subtitle_1 }}</h3>
        <p>
          <strong>{{ lang.t.course_desc_4 }}</strong>
          {{ lang.t.course_desc_4_2 }}
          <br><br>
          <strong>{{ lang.t.course_desc_5 }}</strong>
          {{ lang.t.course_desc_5_2 }}
        </p>

        <br><br>
        <h3>{{ lang.t.course_subtitle_2 }}</h3>
        <br>
        {{ lang.t.course_desc_6 }}
        <br><br>
        <strong>{{ lang.t.course_desc_7 }}</strong>
        {{ lang.t.course_desc_7_2 }}
      
      <br><br>
      <h2>{{ lang.t.course_title_3 }}</h2>

      <ul class="req-list">
        <li>
          <i class="fas fa-users"></i>

          <div class="req-text">
            <strong>{{ lang.t.course_desc_8 }}</strong>
            {{ lang.t.course_desc_9 }} 
            <a href="https://nyuad.nyu.edu/en/" target="_blank">(NYUAD)</a>
          </div>

        </li>

        <li>
          <i class="fas fa-users"></i>
          <div class="req-text">
            <strong>{{ lang.t.course_desc_10 }}</strong>
            {{ lang.t.course_desc_11 }}
          </div>
        </li>

        <li>
          <i class="fas fa-users"></i>
          <div class="req-text">
            <strong>{{ lang.t.course_desc_12 }}</strong>
            {{ lang.t.course_desc_13 }}
          </div>
        </li>

        <li>
          <i class="fas fa-users"></i>
          <div class="req-text">
            <strong>{{ lang.t.course_desc_14 }}</strong>
            {{ lang.t.course_desc_15 }}
            <a href="https://open-quantum-institute.cern" target="_blank">(OQI/CERN)</a>
            {{ lang.t.course_desc_15_1 }}
            <a href="https://gesda.global/open-quantum-institute/" target="_blank">(OQI/GESDA)</a>
          </div>
        </li>

        <li>
          <i class="fas fa-users"></i>
          <div class="req-text">
            <strong>{{ lang.t.course_desc_16 }}</strong>
            {{ lang.t.course_desc_17 }}
          </div>
        </li>

        <li>
          <i class="fas fa-envelope"></i>
          <div class="req-text">
            <strong>{{ lang.t.course_desc_18 }}</strong>
            {{ lang.t.course_desc_19 }}
          </div>
        </li>
      </ul>


      <br><br>
      <h2>{{ lang.t.course_title_4 }}</h2>
      <p>
        <strong>{{ lang.t.course_desc_20 }}</strong>
        {{ lang.t.course_desc_21 }}
        <br><br>
        <strong>{{ lang.t.course_desc_22 }}</strong>
        <br>
        {{ lang.t.course_desc_23 }}
        <br>
        <strong>{{ lang.t.course_desc_24 }}</strong>
      </p>

      <br><br>
      <h3>{{ lang.t.course_title_5 }}</h3>
      <p> 
        <strong>{{ lang.t.course_desc_25 }}</strong>
        <br>
        {{ lang.t.course_desc_26 }}
        <br><br>

        <strong>{{ lang.t.course_desc_27 }}</strong>
        <br>
        {{ lang.t.course_desc_28 }}
        <br><br>

        <strong>{{ lang.t.course_desc_29 }}</strong>
        <br>
        {{ lang.t.course_desc_30 }}
        <br><br>

        <strong>{{ lang.t.course_desc_31 }}</strong>
        <br>
        {{ lang.t.course_desc_32 }}
        <br><br>

        <strong>{{ lang.t.course_desc_33 }}</strong>
        <br>
        {{ lang.t.course_desc_34 }}
        <br><br>

        <strong>{{ lang.t.course_desc_35 }}</strong>
        <br>
        {{ lang.t.course_desc_36 }}
        <br><br>

        <strong>{{ lang.t.course_desc_37 }}</strong>
        <br>
        {{ lang.t.course_desc_38 }}
        <br><br>

        <strong>{{ lang.t.course_desc_39 }}</strong>
        <br>
        {{ lang.t.course_desc_40 }}
        <br><br>

        <strong>{{ lang.t.course_desc_41 }}</strong>
        <br>
        {{ lang.t.course_desc_42 }}
        <br><br>

        <strong>{{ lang.t.course_desc_43 }}</strong>
        <br>
        {{ lang.t.course_desc_44 }}
        <br><br>
      </p>

      <h2>{{ lang.t.course_title_6 }}</h2>
      <p>
        {{ lang.t.course_desc_45 }}
        <strong>{{ lang.t.course_desc_46 }}</strong>
        <br><br>
      </p>

      <h2>{{ lang.t.course_title_7 }}</h2>
      <p>
        {{ lang.t.course_desc_47 }}
        <br><br>
        {{ lang.t.course_desc_48 }}
        <br><br>
        {{ lang.t.course_desc_49 }}
        <br><br>
        {{ lang.t.course_desc_50 }}
        <br>
        <a href="https://qworld.net/code-of-ethics-and-conduct/#minors" target="_blank">https://qworld.net/code-of-ethics-and-conduct/#minors</a>
        <br><br>
        {{ lang.t.course_desc_51 }}
        <br>
        <a href="https://qworld.net/code-of-ethics-and-conduct/" target="_blank">https://qworld.net/code-of-ethics-and-conduct/</a>
        <br><br>
        {{ lang.t.course_desc_52 }}
      </p>
    </div>
  </div>
</section>
